<template name="comments">

     <h3>Comment Section</h3>
     <ul>
	    {{#each comments}}
	      {{> comment}}
	    {{/each}}
     </ul>

</template>

<template name="addComment">
 <form class="form-horizontal new-comment">
        <label for="commentText">Enter Comment: </label>
        <input type="text" class="form-control" name="commentText" id="commentText" placeholder="Enter a Comment..." required />
        <br>
		<label for="fileInput">Upload a file: </label>
		<input type="file" class="myFileInput" name="fileInput" id="fileInput">
		<br>
		<button type="submit" class="btn btn-primary">Submit</button>
      </form>
</template>