<template name="comment">
  <div class="comment row">
          <div class="image"><img class="img-rounded" src={{commentOwnerImage}} alt='profile image' width="40" height="40"> </div>
          <div class="user">{{commentOwner}}</div>
          <div style="clear:both;"></div>
          <div class="content">{{commentText}}</div>
          {{#if searching fileType}}
              <video width="400" controls>
                <source src={{imageURL}} type="video/mp4">
                <source src={{imageURL}} type="video/ogg">
                Your browser does not support HTML5 video.
              </video>
            {{else}}
              <img src={{imageURL}} alt="image">
          {{/if}}
             
     <hr>
    </div>
</template>