<template name="editPlayer">
   <div class="form-group" id='addr'>
                        <input type="number" name='number' min="1" placeholder='Number' class="form-control small-input"  value={{number}} >
                        <input type="text" name='name' placeholder='Name' class="form-control"  value={{name}} >
                        <input type="text" name='position' placeholder='Position' class="form-control"  value={{position}} >
                        <input type="number" name='age' min="0" placeholder='Age' class="form-control small-input"  value={{age}} >
                        <input type="text" name='height' placeholder='Height' class="form-control "  value={{height}} >
   </div>
</template>