<template name="Nav">
<!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navleft" href="/">TeamSheet</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/teams/">Find Users</a></li>
            {{#if currentUser}}
            <li><a href="/myFixtures/">My Fixtures</a></li>
            <li><a href="/addFixture/">Add Fixture</a></li>
             {{/if}}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!-- <li> <a href="#">{{> loginButtons}}</a></li> -->

            {{#if currentUser}}
                <li><a href="/sign-out" class="logout">Logout</a></li>
            {{else}}
                <li><a href="/sign-up">Register</a></li>
                <li><a href="/sign-in">Login</a></li>
            {{/if}}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


</template>


