<template name="register">
    <h2 class="text-center">Register</h2>
    <form class="form-horizontal register">
        <div class="form-group">
          <label for="registerUsername" class="col-sm-3 col-md-offset-2 control-label">Username</label>
          <div class="col-sm-3">
              <input type="text" name="registerUsername" class="form-control" id="registerUsername" placeholder="Username" required />
          </div>
         </div>

         <div class="form-group">
          <label for="registerEmail" class="col-sm-3 col-md-offset-2 control-label">Email</label>
          <div class="col-sm-3">
              <input type="email" name="registerEmail" class="form-control" id="registerEmail" placeholder="Email" required />
          </div>
         </div>

         <div class="form-group">
          <label for="registerPassword" class="col-sm-3 col-md-offset-2 control-label">Password</label>
          <div class="col-sm-3">
              <input type="password" name="registerPassword" class="form-control" id="registerPassword" placeholder="Password" required />
          </div>
         </div>

         <div class="form-group">
          <label for="confirmPassword" class="col-sm-3 col-md-offset-2 control-label">Confirm Password</label>
          <div class="col-sm-3">
              <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm Password" required />
          </div>
         </div>

         <div class="col-sm-offset-5 col-sm-10">
              <button type="submit" class="btn btn-default" value="Login">Submit</button>
         </div>
    </form>
</template>



<template name="login">
  <h2 class="text-center">Login</h2>
    <form class="form-horizontal login">
        <div class="form-group">
          <label for="loginEmail" class="col-sm-3 col-md-offset-2 control-label">Email</label>
          <div class="col-sm-3">
              <input type="email" name="loginEmail" class="form-control" id="loginEmail" placeholder="Email" required />
          </div>
         </div>
         <div class="form-group">
          <label for="loginPassword" class="col-sm-3 col-md-offset-2 control-label">Password</label>
          <div class="col-sm-3">
              <input type="password" name="loginPassword" class="form-control" id="loginPassword" placeholder="Password" required />
          </div>
         </div>

         <div class="col-sm-offset-5 col-sm-10">
              <button type="submit" class="btn btn-default" value="Login">Submit</button>
         </div>
    </form>
</template>
